venv
.terraform.lock.hcl
.terraform.tfstate.lock.info
.terraform*
infrastructure/terraform.tfstate.backup
myhelm/template/secret.yml
myhelm/myhelm-0.0.0.tgz
myhelm/.myhelm-0.0.0.tgz.icloud
myhelm/index.yaml